@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextPro.eot');
  src: url('../fonts/PFRegalTextPro.eot?#iefix') format('embedded-opentype'), url('../fonts/PFRegalTextPro.woff2') format('woff2'), url('../fonts/PFRegalTextPro.woff') format('woff'), url('../fonts/PFRegalTextPro.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}
  

@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextProBold.eot');
  src: url('../fonts/PFRegalTextProBold.eot?#iefix') format('embedded-opentype'),url('../fonts/PFRegalTextProBold.woff2') format('woff2'),url('../fonts/PFRegalTextProBold.woff') format('woff'),url('../fonts/PFRegalTextProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal
}
  
@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextProMedium.eot');
  src: url('../fonts/PFRegalTextProMedium.eot?#iefix') format('embedded-opentype'),url('../fonts/PFRegalTextProMedium.woff2') format('woff2'),url('../fonts/PFRegalTextProMedium.woff') format('woff'),url('../fonts/PFRegalTextProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}
 

@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextProRegularB.eot');
  src: url('../fonts/PFRegalTextProRegularB.eot?#iefix') format('embedded-opentype'),url('../fonts/PFRegalTextProRegularB.woff2') format('woff2'),url('../fonts/PFRegalTextProRegularB.woff') format('woff'),url('../fonts/PFRegalTextProRegularB.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}
  
